<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Listar Empleados</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <script th:href="@{/js/bootstrap.min.js}"></script>
    </head>
    <body class="container">
        <h2>Lista de Empleados</h2>
        <a class="btn btn-primary mt-4 mb-4" th:href="@{'/employees/create'}">Nuevo Empleado</a>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>

        <form method="post" th:action="@{/employees/buscar}">
            <input name="searchField" class="form-control mb-3" type="text" placeholder="Buscar"/>
        </form>

        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre y Apellido</th>
                <th>E-mail</th>
                <th>Teléfono</th>
                <th>ID de trabajo</th>
                <th>Salario</th>
                <th>ID de jefe</th>
                <th>ID de departamento</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="emp, i:${lista}">
                <td th:text="${i.index +1}"></td>
                <td th:text="${emp.firstname} + ' ' + ${emp.lastname}"></td>
                <td th:text="${emp.email}"></td>
                <td th:text="${emp.phone_number}"></td>
                <td th:text="${emp.jobid}"></td>
                <td th:text="${emp.salary}"></td>
                <td th:text="${emp.manager_id==null}? 'Sin jefe' : ${emp.manager_id}"></td>
                <td th:text="${emp.department_id}"></td>
                <td><a class="btn btn-primary" th:href="@{'/employees/edit?id=' + ${emp.employeeid}}">Editar</a></td>
                <td><a class="btn btn-danger" th:href="@{'/employees/delete?id=' + ${emp.employeeid}}">Borrar</a></td>
            </tr>
        </table>
        
    </body>
</html>