<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Trabajo</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container">
<h2>Lista Trabajos</h2>
<a class="btn btn-primary mt-4 mb-4" th:href="@{/shipper/nuevo}" >Nuevo Trabajo</a>

<table class="table table-sm">
    <tr>
        <th>#</th>
        <th>Titulo de Trabajo</th>
        <th>Salario minimo</th>
        <th>Salario maximo</th>
        <th></th>
    </tr>
    <tr th:each="job, info : ${lista}">
        <td th:text="${info.index + 1}"></td>
        <td th:text="${job.jobtitle}"></td>
        <td th:text="${job.minsalary}"></td>
        <td th:text="${job.maxsalary}"></td>
        <td><a class="btn btn-primary" th:href="@{'/shipper/editar?id=' + ${job.jobid}}">Editar</a></td>
        <td><a class="btn btn-danger" th:href="@{'/shipper/borrar?id=' + ${job.jobid}}">Borrar</a></td>
    </tr>
</table>
</body>
</html>
